.vertical-timeline {
  padding: 0 !important;
  width: 100% !important;
}

.timeline-date {
  color: #8c8c8c;
}

// @media only screen and (max-width: 1169px) {
//   /* .vertical-timeline--animate */
//   .vertical-timeline-element-content.bounce-in {
//     visibility: visible;
//     -webkit-animation: cd-bounce-2-inverse 0.6s;
//     -moz-animation: cd-bounce-2-inverse 0.6s;
//     animation: cd-bounce-2-inverse 0.6s;
//   }
// }
